{% extends "account/base.html" %} {% load i18n %} {% block head_title %}{% trans "Sign Out" %}{% endblock %} {% block content %}
<div class="container">
    <section class="mb-4">
        <div class="row wow fadeIn">
            <div class="col-6 offset-3">
                <h1>{% trans "Đăng Xuất" %}</h1>

                <p>{% trans 'Bạn có chắc chắn muốn Đăng Xuất?' %}</p>

                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %} {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
                    <button type="submit" class="btn btn-primary">{% trans 'Đăng Xuất' %}</button>
                </form>
            </div>
        </div>
    </section>
</div>

{% endblock %}